<%- include("../partials/header.ejs") %>

    <div class="page">

        <h5 class="d-flex justify-content-center align-items-center">

            Welcome to super team picker

        </h5>

    </div>

<%- include("../partials/footer.ejs") %>