<%- include("../partials/header.ejs") %>
    <h1>
        Cohorts
    </h1>
    <div>
        <% for(let cohort of cohorts){%>
        <div class=" 'card mb-4">
            <div class="card-body">
                <a href="/cohorts/<%-cohort.id%>">
                    <h5 class="card-title"><%- cohort.name%></h5>
                </a>

            </div>

        </div>
        <% } %>
    </div>

<%- include("../partials/footer.ejs") %>