<%- include("../partials/header.ejs") %>

    <h1>New Cohort</h1>
    
        <form action="/cohorts" method="POST">
            <%- include("../partials/formInput.ejs") %>
            <input type="submit" value="Create Cohort" class="btn btn-outline-success">
        </form>

<%- include("../partials/footer.ejs") %>


