<%- include("../partials/header.ejs") %>

    <div class="page">
        <h5 >New Cohort</h1>
    
            <form class="" action="/cohorts" method="POST"  >
                <div class="gap-2">
                    <%- include("../partials/formInput.ejs") %>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Create Cohort" class="gap-2 btn btn-outline-primary ">
                </div>
                
            </form>
    
    </div>
    
<%- include("../partials/footer.ejs") %>


