<div class='form-group'>
    <label for="logo_url" class="p-2 mx-3">Cohorts Logo</label>
    <input 
    type="url" 
    class='form-control'
    name="logo_url" 
    placeholder="e.g. http://logourl.com/my_cohorts_logo"
    value="<%= cohort?cohort.logo_url: '' %>"
    >
</div>

<div class='form-group'>
    <label for="name" class="p-2 mx-3">Cohorts name</label>
    <input 
    type="text" 
    class='form-control'
    name="name" 
    placeholder="Cohort's name"
    value="<%= cohort?cohort.name: '' %>"
    >
</div>

<div class='form-group'>
    <label for="members" class="p-2 mx-3">Cohorts members names</label>
    <textarea 
    name="members" 
    class='form-control'
    placeholder="Members of your cohort"
    cols="60" 
    rows="5"
    >
    <%- cohort?cohort.members: '' %>
    </textarea>
</div>