<!-- Navbar-->
<header>
    <nav>
        <a href="/cohorts/home" class="mx-3">Home Page</a>
        <a href="/cohorts" class="mx-3">Cohorts</a>
        <a href="/cohorts/new" class="mx-3">New Cohort</a>
    </nav>
</header>